@model Catalog.Models.Entities.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSpecs.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSpecs.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPics.Picture_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPics.Picture_URL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ShowProducts", new { categoryId = Model?.SubCategory?.Category?.ID, subcategoryId = Model?.SubCategory?.ID })
        </div>
    }
</div>
